.message-feed-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 22em;

  .message-feed-items {
    flex: 1;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
  }
}
